

<footer class="footer mt-auto py-2 bg-secondary">
    <div class="container">
        <span class="text-light">Developed by <a href="https://github.com/icmpark" class="text-light" style="text-decoration: none">MJPark</a></span>
    </div>
</footer>